*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #484848;
    font-family: 'Roboto', sans-serif; 
}

::-webkit-scrollbar{   /*for scrollbar*/
    width: 6px;
}
::-webkit-scrollbar-track{
    background-color: none;
}
::-webkit-scrollbar-thumb{
    background-color: #b9b3ae;
}
::-webkit-scrollbar-thumb:hover{
    background: #888;
}


.avatar {  /*for position of avatars*/
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img, /* for small the avatar in chats*/
.chat-avatar img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.chat-header-right img{
    width: 20px;
    height: 20px;
    margin: 5px 13px;
    opacity: 0.4;
}

body{
    display: flex;
    overflow: hidden;
}
.slidebar{
    flex: 5.17;
}
.header{
    background-color: rgb(247 244 244);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
/*messege search box*/
.slidebarsearch{
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    padding: 8px 15px;
}


.slidebar-search-container{
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 20px;
}

.slidebar-search-container img{
width: 15px;
height: 15px;
margin: 0 15px;
opacity: 0.4;
}

.slidebar-search-container input{
    border: none;
    outline: none;
    margin-left: 20px;
}

/*Chats Container*/
.chat-avatar {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.slidebar-chats{                /*scroll efffects*/
    height: calc(100vh - 88px);
    overflow-y: scroll;
}

.slidebar-chat{ /*for chat proper position*/
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 12px;
    width: 100%;
}

.slidebar-chat:hover{    /*for mouse hover*/
    background-color: #ecececf5;
}

.slidebar-chat:nth-child(2){
    background-color: #ebebeb;
}

.slidebar-chat::before{  /*for small line after every chat*/
    content: '';
    position: absolute;
    width: 80%;
    bottom: 0;
    left: 80px;
    border-bottom: 1px solid #999;
}

.chat-info{
    margin-left: 15px;
    flex: 10;
}

.chat-info p{
    font-size: 13px;
    line-height: 20px;
    color: gray;
}

.time{
    flex: 1;
}
.time p{
    white-space: nowrap;
    font-size: 13px;
    margin-top: -16px;
    color: gray;
}



/*messege content*/
.message-container{
    flex: 12;
}
.chat-title{
    display: flex;
    align-items: center;
}


.messege-header-content{
    margin-left: 15px;
}
.messege-header-content p{
    font-size: 13px;
    color: rgb(19, 19, 19);
}


.message-content{
    background-image: url(bg.jpg);
    background-position: center;
    height: calc(100vh - 120px);
    padding: 20px 80px;
    overflow-y: scroll;
}

.chat-messages{
    font-size: 14px;
    padding: 8px 10px;
    width: fit-content;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 30px;
}

.chat-sent{
    margin-left: auto;
    background-color: #dcf8c6;
}
.chat-timestamp{
    margin-left: 10px;
    font-size: 10px;
    color: gray;
}


/*message content*/

.message-footer {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: #ece5e5;
}
.message-footer img{
    flex: 0;
    width: 22px;
    height: 22px;
    opacity: 0.4;
}

.message-footer input{
    flex: 20px;
    margin: 5px 10px;
    padding: 12px 15px;
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 15px;
} 



@media only screen and (max-width: 600px) {

.message-container{
    display: none;
}

}




